# Welcome to the Python sessions

# Problem 1
## Euler 001
## Multiples of 3 or 5

If we list all the natural numbers below $10$ that are multiples of $3$ or $5$, we get $3, 5, 6$ and $9$. The sum of these multiples is $23$.

Find the sum of all the multiples of $3$ or $5$ below $1000$.

In [ ]:
!python --version

In [ ]:
def euler001_A(limit: int) -> int:
    n, total = 1, 0
    while n < limit:
        if n % 3 == 0 or n % 5 == 0:
            total += n
        n += 1
    return total

In [ ]:
print(euler001_A(10))

In [ ]:
print(euler001_A(1000))

In [ ]:
def select(n: int) -> bool:
    return n % 3 == 0 or n % 5 == 0


def euler001_B(limit: int) -> int:
    total = 0
    for n in range(1, limit):
        if select(n):
            total += n # total = total + n
    return total

In [ ]:
print(euler001_B(1000))

In [ ]:
range?

In [ ]:
print(euler001_B(10.5))

In [ ]:
print(euler001_A(10.5))

In [ ]:
range?

In [ ]:
def euler001_C(limit: int) -> int:
    return sum(range(3, limit, 3)) + sum(range(5, limit, 5)) - sum(range(15, limit, 15))

In [ ]:
print(euler001_C(1000))

In [ ]:
def euler001_D(limit: int) -> int:
    return sum(set(range(3, limit, 3)) | set(range(5, limit, 5)))

In [ ]:
print(euler001_D(1000))

In [ ]:
dir()

In [ ]:
set([1, 2, 3, 3, 2]) | set([1, 3])

In [ ]:
[1, 2, 3] + [1, 3]

In [ ]:
def select(k: int) -> bool:
    return (k % 3) * (k % 5) == 0

In [ ]:
def euler001_E(limit: int) -> int:
    return sum(filter(select, range(1, limit)))

In [ ]:
print(euler001_E(1000))

In [ ]:
filter?

In [ ]:
def odd(n: int) -> bool:
    return n % 2 == 1

In [ ]:
filter(odd, [1, 6, 9, 4, 11, 9])

In [ ]:
list(filter(odd, [1, 6, 9, 4, 11, 9]))

In [ ]:
sum?

In [ ]:
set(filter(odd, [1, 6, 9, 4, 11, 9]))

In [ ]:
filter?

# 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1

# 19, 58, 29, 88, 44, 22, 11, 34 ....

# Collatz Sequence

Write a function that takes the strating number as the parameter and returns the Collatz sequence.

Collatz sequence starts with the given number and ends in $4, 2, 1$

In [ ]:
def next_collatz(n: int) -> int:
    return (n // 2) if n % 2 == 0 else 3 * n + 1
    # ternary operator => n % 2 == 0 ? n // 2 : 3 * n + 1

In [ ]:
def collatz_seq(start: int) -> list[int]:
    if start == 4:
        return [4, 2, 1]
    else:
        return [start] + collatz_seq(next_collatz(start))

In [ ]:
print(collatz_seq(7))

In [ ]:
def collatz_while(start: int) -> list[int]:
    seq = []
    while start != 4:
        seq.append(start)
        start = next_collatz(start)
    return seq + [4, 2, 1]

In [ ]:
print(collatz_seq(3))

In [ ]:
print(collatz_seq(0))

In [ ]:
def validated_collatz(start: int) -> list[int]:
    if start > 0:
        return collatz_seq(start)
    else:
        return [-1]